<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
	  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  autoReload="true"
	  throwConfigExceptions="true"
	  throwExceptions="true"
	  internalLogLevel="Trace"
	  internalLogFile="c:\temp\nlog-internal.log">

	<extensions>
		<add assembly="NLog.Targets.ElasticSearch"/>
	</extensions>

	<targets>
		<target
			name="ElasticSearch"
			xsi:type="BufferingWrapper"
			flushTimeout="5000"
		>
			<target
				xsi:type="ElasticSearch"
				uri="http://localhost:9200"
				index="dev-nlog-logging-${date:format=yyyy.MM}"
				layout="${message}"
			/>
		</target>
	</targets>

	<rules>
		<logger name="Microsoft.*" minlevel="Warn" final="true" />
		<logger name="*" minlevel="Trace" writeTo="ElasticSearch" />
	</rules>
</nlog>